.topnav {
  background-color: #4f5257;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #323336;
  background-color: #b2bdd1;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #97a2b8;
  color: #323336;
}

.topnav a.active {
  background-color: #93a4c4;
  color: #ebebeb;
}

.header {
        display: flex;
		align-items: center;
		justify-content: center;
      }
	  .gameDiv {
        display: flex;
		align-items: center;
		justify-content: center;
      }
      img {
        max-width: 100%;
      }
      .headerImage {
        flex-basis: auto;
		padding-left: 22vw;
		padding-right: 2vw;
      }
      .headerText {
		font-family: 'Courier New', monospace;
		color: #323336;
        font-size: 3vw;
        padding-right: 20vw;
      }
	  
	  .gameText {
		font-family: 'Georgia', serif;
		color: #323336;
        font-size: 3vw;
        padding-right: 2vw;
		max-width: 40%;
      }
	  .gameImage {
        flex-basis: auto;
		padding-left: 2vw;
		padding-right: 2vw;
		max-width: 50%;
		min-width: 40%;
      }

.buttonsDisplay{
	display: flex;
	justify-content: center;
	align-items: center;
}

.buttons{
	z-index: 1;
	padding-left: 25vw;
	padding-right: 10vw;
}

.personImage{
	flex: 40%;
	max-width: 100%;
	min-width: 30%;
	z-index: 1;
	padding-left: 12vw;
	padding-right: 12vw;
}

.fishTop{
	z-index: 10;
}

.headerText2 {
		text-align: center;
		font-family: 'Courier New', monospace;
		color: #323336;
      }
	  

body {
	background-color:#dfe4ed;
	padding-top: 10px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 25pm;}
	
	p{
	font-family: 'Georgia', serif; 
	text-align: center; 
	font-size: 2vw;
	color: #323336;}
	
	button{
		background-color: #f7f8fa;
		font-family: 'Courier New', monospace;
		color: #323336;
		font-size: 3vw;
		width: 24vw;
		;
	}
	button:hover{
		background-color: #ebeef2;
	}
		